<app-header></app-header>
<section class="flex flex-col w-[816px] justify-start mx-auto mt-72">
  <h1 class="font-extrabold text-4xl mb-8">Sam Ellis</h1>
  <p class="text-lg leading-9 mb-8">You’ve reached my personal page. Hello 👋</p>
  <p class="text-lg leading-9 mb-8">I have recently graduated from the <a href="https://www.nottingham.ac.uk/" class="font-medium text-purple-900 underline underline-offset-4 decoration-purple-300 decoration-2">University of Nottingham</a>, obtaining a Distinction (first-class equivalent) in an MSc in Computer Science. My primary interests in this field include data science, machine learning, and front-end web development.</p>
  <p class="text-lg leading-9 mb-20">I previously studied at the <a href="https://www.birmingham.ac.uk/" class="font-medium text-purple-900 underline underline-offset-4 decoration-purple-300 decoration-2">University of Birmingham</a>, graduating in Chemical Engineering with a first-class honours in 2020.</p>
  <div class="flex space-x-8 justify-center">
    <a href="/assets/static/media/Sam_Ellis_CV.pdf">
      <button class="relative bg-purple-050 bg-opacity-5 rounded-full px-6 py-2 shadow-md font-medium transition-all hover:bg-opacity-50 hover:duration-300">
        <div class="flex justify-center align-baseline">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" /></svg>
          <h2 class="ml-2">CV</h2>
        </div>
        <span class="absolute bg-[#BA2525] px-2 py-1 rounded-full text-[10px] font-bold text-white -top-2 -right-4">PDF</span>
      </button>
    </a>

    <a href="https://github.com/sam4llis">
      <button class="relative bg-purple-050 bg-opacity-5 rounded-full px-6 py-2 shadow-md transition-all font-medium hover:bg-opacity-50 hover:duration-300">
        <div class="inline-flex justify-center align-middle">
          <svg width="20" height="18.425" viewBox="0 0 22 18.425"><path id="Path_39" data-name="Path 39" d="M10,20,14,4m4,4,4,4-4,4M6,16,2,12,6,8" transform="translate(-1 -2.787)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
          <h2 class="ml-3">GitHub</h2>
        </div>
      </button>
    </a>

  </div>
</section>

<footer class="w-full fixed bottom-0">
  <div class="custom-shape-divider-bottom-1642074388">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
  </div>
</footer>
